extends layout

block contentHead
  link(href='css/gen/index.css', rel='stylesheet')


block contentBody

  #myCarousel.carousel.slide
    .carousel-inner
      .item.active(ng-repeat="item in slideList | filter:{active:true}")
        img(src='{{item.imgsrc}}', alt='')
        .container
          .carousel-caption
            h1 {{item.title}}
            p.lead {{item.descript}}

      .item(ng-repeat="item in slideList| filter:{active:false}")
        img(src='{{item.imgsrc}}', alt='')
        .container
          .carousel-caption
            h1 {{item.title}}
            p.lead {{item.descript}}

    a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
    a.right.carousel-control(href='#myCarousel', data-slide='next') ›
  .container.marketing
    .row
      .span3(ng-repeat="item in itemList")
        img.img-circle(src='{{item.imgsrc}}')
        h2 {{item.title}}
        p {{item.descript}}
        p
          a.btn(href='buy') {{item.buttonName}}
  script
    !function ($) {
      $(function(){
        $('#myCarousel').carousel()
      })
    }(window.jQuery)
  script(type='text/javascript', src='js/gen/controllers.js')